{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "plugins": ["prettier-plugin-svelte"],
    "pluginSearchDirs": ["."],
    "overrides": [
        { "files": "*.svelte", "options": { "parser": "svelte" } },
        { "files": "*.yaml", "options": { "tabWidth": 2 } }
    ]
}
